__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

*.swp
*.swo
*.DS_Store
.vscode/
.idea/

.venv/
.uv/

*.log
*.pot
*.py,cover
db.sqlite3
media/
staticfiles/
static/

.env
.env.*

.coverage
htmlcov/

*.tmp